body{
    background-image:url(../img/fondo_p.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
*{
    padding:0;
    margin: auto;
}
.logo{
    width: 90px;
    height: 90px;
    border-radius: 100px;
    margin: 0px 15px 
}
.login{
    text-align: right;
    margin: 20px;   
}
.button1{
    width: 90px;
    height: 25px;
     text-transform:uppercase;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.cuadro{
    width: 30vh;
      margin-left: 40px;
    margin-top: 20px
    
}

.menu{
    background-color:black;
    width:  1225px;
    height: 90px;
    padding: 0px;
}
.menu ul li {
 background-color:black;


}

.menu ul{ 
    list-style:none;
    margin:0;
    padding:0;
    height: 100%
    
}

.menu ul a {
 display:block;
 color:#fff;
 text-decoration:none;
 font-weight:400;
 font-size:16px;
 padding:10px;
 text-transform:uppercase;
 letter-spacing:4px;
}


.menu ul li {
 position:relative;
 float:left;
 margin:0;
 padding:0;
}

.menu ul li:hover {
  background:#5b78a7;
}
.menu ul ul {
  display:none;
  position:absolute;
  top:100%;
  left:0;
  padding:0;

}

.menu ul ul li {
  float:none;
  width:278px;
    text-align: center;
}
.menu ul ul a {
  line-height:120%;
  padding:10px 15px;
    margin-left: 0px
}


.menu ul li:hover > ul {
  display:block;
}
.contenedor{
    width: 1225px;
    height: 300px;
    padding-top:30px;
    margin:auto;
    
}
.contenedor{
    background-color:rgba(0,0,0,0.8);
    color: white;
    text-align: center;
}
.linea{
    height: 40px;
}
.titulo{
    padding-top: 0%;
    margin: auto;
}
.titulo h1{
    font-size:50px;
    text-align: center;
}
.titulo p{
    padding-top: 20px;
    font-size: 15px;
    text-align: center;
}
.reservas{
    width: 1225px;
    padding-top:4%;
}
.box{
    width: 250px;
    padding:10px;
    margin:10px;
    border:2px solid white;
    background-color:rgba(0,0,0,0.8);
    color: white;
    font-size: 20;
    pointer-events:all;
}
.box:hover{
    color: rgba(223, 219, 219, 0.4);
}
.tabla_reservas{
    width: 1225px;
    height: 150px;
    background-color:rgba(0,0,0,0.8);
}
table{
   border:3px solid white;
   width: 600px;
   height: 10px;
   color:white;
   text-align: center;
   background-color:rgba(0,0,0,1);
}
.borrar_reservas{
    width: 1225px;
    height: 50px;
    padding-bottom:10px;
    background-color: black;
}

.fondo{
    width: 1223px;
    height: 800px;
    border: 1px solid black;
    margin:auto;
    background-image: url(../img/img.jpg);
    background-attachment: fixed;
}
.contenedor_2{
    width: 1225px;
    height: 400px;
    background-color:rgba(0,0,0,0.8);
    color: white;
    display: flex;
}
.informacion{
    display: inline-block;
    width: 45%;
    align-content: center;
    
}
.contacto{
    display: inline-block;
    width: 45%;
    margin:10px;
   
}

.principal{
    width: 100%;
    font-size: 30px;
    padding-top: 10%;
    margin: 40px 0px 100px 40px;
    
}
.telefono{
    text-decoration: none;
    width: 100%;
    margin: 100px 0px 0px 195px;
  

}
.correo{
    font-style:italic;
    width: 100%;
    margin: 0px 0px 100px 180px;
    
}
.direccion{
    width: 100%;
    font-size: 20px;
    padding-top:0;
    margin: -40px 0px 0px 158px;
}
.form_contac{
    margin: auto;
    padding-top: -6%;
}
label{
    display: block;
    padding-top: 40px;
    margin: 0px 0px 0px 30px;
}
.mensaje{
    margin: 0px 0px 0px 158px;
}
.dato{
    display: inline-block;
    width: 45%;
    
}
#contac{
    height: 40px;
    background-color:rgba(0,0,0,0.1);
    border-right: 0px;
    border-left: 0px;
    border-top: 0px;
    border-bottom: 2px solid white;
    outline: none;
    color: white;
    pointer-events: all;
}
textarea{
    padding-top: 15px;
    margin: 0px 0px 0px 80px;
    background-color:rgba(0,0,0,0.1);
    border-right: 0px;
    border-left: 0px;
    border-top: 0px;
    border-bottom: 2px solid white;
    outline: none;
    color: white;  
}
.enviar{
    margin: 20px 0px 0px 70px;
}
.mapa{
    margin:auto;
    width: 1225px;
    height: 350px;
}
.footer{
    display:flex;
    width: 1225px;
    height: 150px;
    background-color:rgba(0,0,0,0.8);
    color: white;
}
.horario{
    display: inline-block;
    width: 400px;
    height: 100px;
    
}
.hor{
    margin: 30px 0px 0px 120px;
}
.direccion-f{
    display: inline-block;
    width: 400px;
    height: 100px;
    
}
.dir{
    margin:40px 0px 0px 120px;
}
.icons{
    display: inline-block;
    width: 400px;
    height: 100px;
    

}
#copy{
    display: flex;
    width:1225px;
    height:50px;
    background-color: black;
    color:white;
}
.copyright{
    margin: 1% 0% 0% 30%;
}
footer{
    background: black;
    padding-bottom: 0.1px;
}
.contenedor-footer{
    width: 1225px;
}
.footer-content{
    padding-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}


.contact-us{
    width: 40%;
    color: #fff;
}

.brand{
    font-weight: 500;
    font-size: 40px;
}

.brand+p{
    font-weight: 500;
}

.social-media{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    margin-right: 70px;
}

.social-media-icon{
    display: inline-block;
    margin-left: 20px;
    width: 60px;
    height: 60px;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    color: #fff;
}

.social-media-icon i{
    font-size: 30px;
    line-height: 60px;
}

.line{
    width: 90%;
    max-width: 1200px;
    margin: auto;
    height: 2px;
    background: #fff;
    margin-bottom: 60px;
}

.social-media-icon:hover{
    background: #fff;
    color:#764ba2;
}

@media screen and (max-width: 800px){

    .social-media{
        width: 80%;
        justify-content: space-evenly;
    } 
    
}